<html>
<img src="http://portal.seas.columbia.edu/seas/logos/NewEngineeringDkBlue.png" alt="Columbia" style="width:30%">
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>




  <h1>Welcome! Please select your profile</h1>

    <form action="/login_admin" method="POST">
    <select name="administratorid" id="user">
        {% for administratorid, name in admindata.items() %}
            <div> <option value="{{administratorid}}"> {{ name }} </option> </div>
        {% endfor %}
    </select>
    <input type="submit" value="Select Admin">
  </form>


    <form action="/login_inspector" method="POST">
    <select name="inspectorid" id="user">
        {% for inspectorid, name in inspectdata.items() %}
            <div> <option value="{{inspectorid}}"> {{ name }} </option> </div>
        {% endfor %}
    </select>
    <input type="submit" value="Select Inspector">
  </form>


    <form action="/login_facilitator" method="POST">
    <select name="facilitatorid" id="user">
        {% for facilitatorid, name in facildata.items() %}
            <div> <option value="{{facilitatorid}}"> {{ name }} </option> </div>
        {% endfor %}
    </select>
    <input type="submit" value="Select facilitator">
  </form>



  
    <form action="/login" method="POST">
    <select name="entityid" id="user">
        {% for entityid, entityname in data.items() %}
            <div> <option value="{{entityid}}"> {{ entityname }} </option> </div>
        {% endfor %}
    </select>
    <input type="submit" value="Select Research Entity">
  </form>

</body>


</html>
