<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome! Please select your research entity</h1>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
  
    <form action="/login" method="POST">
    <select name="entityid" id="user">
        {% for entityid, entityname in data.items() %}
            <div> <option value="{{entityid}}"> {{ entityname }} </option> </div>
        {% endfor %}
    </select>
    <input type="submit" value="Select">
  </form>


<p><a href="another">Go to the other page</a></p>


<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>
