<html>
  <style>
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
  }
  th, td {
      padding: 5px;
      text-align: left;
  }
    body{
      font-size: 15pt;
      font-family: arial;
    }
    ul {
    list-style-type: none;
    }
  </style>

<body>
      <h1>Inspector Dashboard</h1>

  <h1>Hello, {{ user }}.</h1>
  
    <p><a href="/logout_inspect">Log Out</a></p>
  
  
    {% if nons%}
    <h3>Facilities Needing Inspection</h3>
    <table style="width:100%">
      <tr>
        <th>Lab Id</th>
        <th>Safety Level</th>
        <th>Entity Name</th>
        <th>Contact First Name</th>    
        <th>Contact Last Name</th> 
        <th>Contact Phone Number</th> 
        <th>Contact Email Address</th>     
      </tr>
      {% for e in nons %}
      <tr>
        <td>{{e.laboratoryid}}</td>
        <td>{{e.safetylevel}}</td>
        <td>{{e.entityname}}</td>
        <td>{{e.contactfirstname}}</td>
        <td>{{e.contactlastname}}</td>
        <td>{{e.contactphonenumber}}</td>
        <td>{{e.contactemailaddress}}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  
  
  
  <form method="POST" action="/add_inspection">
  <h4>Record an Inspection: </h4>
        <label for="labid">Laboratory ID:</label><br>
        <input type="number" id="labid" name="labid"> </br>
    <label for="scheduleddate">Inspection Scheduled Date:</label><br>
    <input type="date" id="scheduleddate" name="scheddate"><br>
    <label for="insptype">Inspection Type:</label><br>
    <select name="insptype" id="estatus">
            <option value = "routine" selected>Routine</option>
            <option value = "incident-based">incident based</option>
            <option value = "ad-hoc">Ad Hoc</option>
    </select>
    <label for="inspoutcome">Inspection Outcome:</label><br> 
        <select name="inspoutcome" id="inspout">
                <option value = "successful" selected>Successful</option>
                <option value = "failed">failed</option>
                <option value = "inconclusive">inconclusive</option>
        </select>
       <label for="inspnotes">Inspection Notes:</label><br> 
       <input type="text" id="inspnotes" name="inspnotes"><br>
  <input type="submit" value="Add"></p>
  </form>


  

  <p>
  
 </body>

</html>